* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 13px;
  color: #333;
}
body {
  background: linear-gradient( #BDDFF6 , #FCF5EC);
}
#header {
  background: #333333;
}
#logo,
#search,
#cart {
  height: 60px;
}
#logo {
  padding-top: 5px;
}
#logo h1 {
  margin: 0;
}
#search input {
  width: 50%;
  border-radius: 3px 0 0 3px;
}
#search button {
  border-radius: 0 3px 3px 0;
}
#search button {
  background: #eb1f27;
}
#search button:hover {
  background: #c60a11;
}
#cart a,
#cart span {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
#cart {
  text-align: right;
}
#cart a {
  text-decoration: none;
  text-transform: capitalize;
}
#cart span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #eb1f27;
  border-radius: 100%;
  text-align: center;
}
#menu {
  overflow: hidden;
  background: #eb1f27;
}
#menu ul {
  margin: 0;
}
.menu-item {
  float: left;
  list-style: none;
  padding: 10px;
  border-right: 1px solid #c60a11;
}
.menu-item a {
  color: #fff;
  text-decoration: none;
}
.menu-item:hover {
  background: #c60a11;
  cursor: pointer;
}
#main,
#sidebar {
  margin-top: 10px;
}

#slide .carousel-inner {
  border-radius: 3px !important;
}

.products {
  margin-top: 20px;
}
.products h3 {
  font-size: 18px;
}
.product-list {
  margin: 0 -2.5px;
}
.product-item {
  padding: 10px;
  margin: 2.5px !important;
}
.product-item img {
  width: 130px;
  height: 180px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.product-item:hover img {
  opacity: 0.5 !important;
}
.product-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.product-item span {
  font-weight: bold;
  color: #eb1f27;
}

/*	Fix Flex-box	*/
.product-list:last-child .product-item {
  flex-grow: 0;
  flex-basis: 32.6%;
}

.banner-item {
  margin-bottom: 10px;
}

#footer-top {
  margin-top: 20px;
  background: #fff;
}
#logo-2,
#address,
#service,
#hotline {
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo-2 p {
  text-align: justify;
}
#footer-top h3 {
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

#footer-bottom {
  background: #1d1e24;
  padding: 10px 0;
}
#footer-bottom p {
  margin: 0;
  color: #a1b1bc;
}

@media (max-width: 992px) {
  #banner {
    display: none;
  }
}
@media (max-width: 768px) {
  #slide {
    display: none;
  }
  #cart {
    text-align: left;
  }
  #header {
    position: relative;
  }
  #header > button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
  }
  .menu-item {
    float: none;
    border: none;
    border-bottom: 1px solid #c60a11;
  }
}
@media (min-width: 768px) {
  #menu {
    display: block;
  }
  #header > button {
    display: none;
  }
}
.chat {
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.bi-messenger {
	color: aqua;
	font-size: 50px;
}
.bi-messenger:hover{
	color: #4267b2;
}

.span {
  font-size: 25px;
  color: #fff;
  text-align: center;
  animation: flicker 1.5s infinite alternate;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
.product-item {
  background: linear-gradient( #6CC6CB , #EAE5C9);
}