#order-success {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 3px;
}
#order-success-img {
  height: 86px;
  background: url(../images/payment.jpg) top left no-repeat;
}
#order-success-txt h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #58b947;
}
#order-success-txt p {
  font-size: 18px;
}
.drop{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}
.dropdown-toggle:hover {
    background: #FFCC66;
    color: #EB1F27;
}
.thanhtoan {
    text-align:center;
	display:inline-table;
	padding:10px 30px;
	background:#EB1F27;
	border-radius:3px;
	text-decoration:none;
	border:1px solid #EB1F27;
    color: #fff;
	position: absolute;
	transition:background 0.2s;
    bottom: 50px;
    left: 300px;
    align-items: center;
    justify-content: center;
}
.qr-code {
    background: url(../images/payment.jpg) top left no-repeat;
    max-height: 100vh;
    height: 486px;
    /* object-fit: cover; */
    background-position: center;
    background-size: contain;
}
.code_span{
    width: 150px;
    height: 200px;
}