<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/head" , {title:"Vé bóng đá"}) %>
  </head>
  <body>
    <!--	Header	-->
    <%- include("layout/header")%>
    <!--	End Header	-->

    <!--	Body	-->
    <div id="body">
    <%- include("components/chatFacebook")%>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <%- include("layout/menu")%>
          </div>
        </div>
        <div class="row">
          <div id="main" class="col-lg-8 col-md-12 col-sm-12">
            <!--	Slider	-->
            <%- include("layout/slide")%>
            <!--	End Slider	-->

            <!--	Feature Product	-->
            <div class="products">
              <h3>Sản phẩm nổi bật</h3>
              <div class="product-list card-deck">
                <%for(let product of FeaturedProducts){%> <%-
                include("components/product-item" , {product:product})%> <%}%>
              </div>
            </div>
            <!--	End Feature Product	-->

            <!--	Latest Product	-->
            <div class="products">
              <h3>Sản phẩm mới</h3>
              <div class="product-list card-deck">
                <%for(let product of products){%> <%-
                include("components/product-item" , {product:product})%> <%}%>
              </div>
            </div>
            <!--	End Latest Product	-->
            <div id="pagination">
              <ul class="pagination">
                <%if(page > 1){%>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%=page-1%>">&laquo;</a>
                </li>
                <%}%> <%for(x in pages){%>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%=pages[x]%>"
                    ><%=pages[x]%></a
                  >
                </li>
                <%}%> <%if(page < totalPage){%>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%=page+1%>">&raquo;</a>
                </li>
                <%}%>
              </ul>
            </div>
          </div>

          <%- include("layout/sidebar")%>
        </div>
      </div>
    </div>
    <!--	End Body	-->

    <%- include("layout/footer")%>
    <!--	End Footer	-->
  </body>
</html>
