<!DOCTYPE html>
<html>
  <head>
    <%-include("layout/head", {title: "Thanh toán"})%>
    <link rel="stylesheet" href="/static/site/css/payment.css" />
  </head>
  <body>
    <!--	Header	-->
    <%-include("layout/header")%>
    <!--	End Header	-->

    <!--	Body	-->
    <div id="body">
      <%- include("components/chatFacebook")%>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <%-include("layout/menu")%>
          </div>
        </div>
        <div class="row">
          <div id="main" class="col-lg-8 col-md-12 col-sm-12">
            <!--	Slider	-->
            <%-include("layout/slide")%>
            <!--	End Slider	-->

            <!--	Order Success	-->
            <div>
              <i class="bi bi-coin"></i>
              <h2>Phương thức thanh toán</h2>
              <div class="drop">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="msg()">
                      Thanh toán bằng ngân hàng
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="msg()">ACB</a></li>
                        <li><a class="dropdown-item" href="#">MB Bank</a></li>
                        <li><a class="dropdown-item" href="#">Bidv</a></li>
                        <li><a class="dropdown-item" href="#">Techcombank</a></li>
                        <li><a class="dropdown-item" href="#">Vietcombank</a></li>
                        <li><a class="dropdown-item" href="#">Vietinbank</a></li>
                        <li><a class="dropdown-item" href="#">Vp bank</a></li>
                        <li><a class="dropdown-item" href="#">Tp bank</a></li>
                        <li><a class="dropdown-item" href="#">VIB</a></li>
                        <li><a class="dropdown-item" href="#">Agribank</a></li>
                        <li><a class="dropdown-item" href="#">Sacombank</a></li>
                        <li><a class="dropdown-item" href="#">SHB</a></li>
                      </ul>
                  </div>
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Thanh toán bằng ví điện tử
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Momo</a></li>
                      <li><a class="dropdown-item" href="#">ZaloPay</a></li>
                      <li><a class="dropdown-item" href="#">Vnpay</a></li>
                      <li><a class="dropdown-item" href="#">ShoppePay</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button">
                      Thanh toán khi nhận hàng
                    </a>
                  </div>
              </div>
              <div class="qr-code">
                <div class="code_span">
                    <span>Quý khách có thể không cần thiết thanh toán online để đặt hàng , và thanh toán khi nhận được vé trường hợp quý khách muốn đặt cọc giữ vé trước thì mới cần thanh toán Rất hân hạnh được phục vụ quý khách</span>
                </div>

              </div>
              <form action="/success">
                <button class = "thanhtoan" type="submit">Thanh toán ngay</button>
              </form>
            </div>
            <!--	End Order Success	-->
          </div>

          <%-include("layout/sidebar")%>
        </div>
      </div>
    </div>
    <!--	End Body	-->

    <%-include("layout/footer")%>
  </body>
</html>
