<!DOCTYPE html>
<html>
<head>
    <%- include("layout/head" , {title:"sanpham"})%>
<link rel="stylesheet" href="/static/site/css/product.css">

</head>
<body>

<!--	Header	-->
<%- include("layout/header")%>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
    <%- include("components/chatFacebook")%>
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<%- include("layout/menu")%>
            </div>
        </div>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
                <%- include("layout/slide")%>
                <!--	End Slider	-->
                
                <!--	List Product	-->
                <div id="product">
                	<div id="product-head" class="row">
                    	<div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
                        	<img src="/static/images/<%=product.thumbnail%>">
                        </div>
                        <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
                        	<h1><%=product.name%></h1>
                            <ul>
                            	<li><span>Bảo hành:</span> <%=product.warranty%></li>
                                <li><span>Đi kèm:</span><%=product.accessories%></li>
                                <li><span>Tình trạng:</span><%=product.status%>></li>
                                <li><span>Khuyến Mại:</span><%=product.promotion%></li>
                                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                                <li id="price-number"><%= new Intl.NumberFormat().format(product.price)%> VNĐ</li>
                                <%if(product.is_stock){%>
                                    <li id="status"><Còn hàng></li>
                                
                                <%}else{%>
                                    <li class="text text-danger" id="status"><hết hàng></li>
                                <%}%>
                            </ul>
                            
                    <% if(product.is_stock){%>
                    <form method="post" action="/addToCart">
                        <input type="hidden" name="id" value="<%=product.id%>">
                        <div class="form-row align-items-center">
                            <div class="col-sm-3 my-1">
                                <div class="input-group">
                                    <input type="number" class="form-control" min="1" value="1" name="qty" id="quantity" placeholder="Số lượng">
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit"  class="btn btn-primary">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </form>
                    <% }%>
    
    
                        </div>
                    </div>
                    <div id="product-body" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Đánh giá về <%=product.name%></h3>
                            <%=product.description%>
                        </div>
                    </div>
                    
                    <!--	Comment	-->
                    <div id="comment" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Bình luận sản phẩm</h3>
                            <form method="post">
                                <div class="form-group">
                                    <label>Tên:</label>
                                    <input name="full_name" required type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input name="email" required type="email" class="form-control" id="pwd">
                                </div>
                                <div class="form-group">
                                    <label>Nội dung:</label>
                                    <textarea name="body" required rows="8" class="form-control"></textarea>     
                                </div>
                                <button type="submit" name="sbm" class="btn btn-primary">Gửi</button>
                            </form> 
                        </div>
                    </div>
                    <!--	End Comment	-->  
                    
                    <!--	Comments List	-->
                    <div id="comments-list" class="row">
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                            <%for(comment of comments){%>
                            <div class="comment-item">
                                <ul>
                                    <li><b><%=comment.full_name%></b></li>
                                    <li><%=comment.createdAt%>></li>
                                    <li>
                                        <p><%=comment.body%></p>
                                    </li>
                                </ul>
                            </div>
                           <%}%>
                        </div>
                    </div>
                    <!--	End Comments List	-->
                </div>
                <!--	End Product	--> 
                <div id="pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                    </ul> 
                </div>               
            </div>
            
            <%- include("layout/sidebar")%>
        </div>
    </div>
</div>
<!--	End Body	-->

<%- include("layout/footer")%>
<!--	End Footer	-->













</body>
</html>
