<div id="footer-top">
	<div class="container">
    	<div class="row">
        	<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
            	<h2><a href="#"><img src="/static/site/images/worlcup.jfif" style="height: 60px ; width: 300px;"></a></h2>
                <p>
                	EXSHOP Thành lập năm 2022. Chuyên cung cấp các giải pháp , dịch vụ hữu ích cho mọi người từ vé bóng đá đến quà tết làm cho mọi người cảm thấy ấm cúng và cổ vũ đội tuyển Việt Nam 1 cách nhiệt tình nhất 
                </p>
            </div>
            <div id="address" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Địa chỉ</h3>
                <p>Bến xe Mỹ Đình - Mai Dịch - Cầu Giấy - Hà Nội</p>
                <p>Ngõ 66 Nguyễn Hoàng</p>
            </div>
            <div id="service" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Dịch vụ</h3>
            	<p>Bảo hành rách , rơi vỡ , size không đúng</p>
            	<p>1 đổi 1 trong 24h đầu</p>
            </div>
            <div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Hotline</h3>
            	<p style="color: red;">Zalo or SĐT: 0965123980 </p>
                <p style="color: red;">Email: daoxuanson15072001@gmail.com</p>
                <span>
                    Tất cả các thông tin dịch vụ Liên hệ với em Sơn qua
                    <a href="https://www.facebook.com/daoxuanson2001/">https://www.facebook.com/daoxuanson2001/</a>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="footer-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<p>
                    2022 © EXSHOP Academy. All rights reserved. Developed by EXSHOP.
                </p>
            </div>
        </div>
    </div>
</div>