<div id="header">
  <div class="container">
    <div class="row">
      <div
        id="logo"
        class="col-lg-3 col-md-3 col-sm-12"
        style="display: flex; position: relative"
      >
        <h1>
          <a href="/"
            ><img
              class="img-fluid"
              src="/static/site/images/worlcup.jfif"
              style="height: 50px; width: 50px; border-radius: 50%"
            />
          </a>
        </h1>
        <a
          href="/"
          style="
            color: #fff;
            position: absolute;
            text-decoration: none;
            top: 20px;
            left: 80px;
            text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
              0 0 42px #0fa , 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
              0 0 151px #0fa;
          "
          class="ex"
          >EXSHOP</a
        >
      </div>
      <div id="search" class="col-lg-6 col-md-6 col-sm-12">
        <form action="/search" class="form-inline">
          <input
            name="keyword"
            class="form-control mt-3"
            type="search"
            placeholder="Tìm kiếm"
            aria-label="Search"
          />
          <button class="btn btn-danger mt-3" type="submit">Tìm kiếm</button>
        </form>
      </div>
      <div id="cart" class="col-lg-3 col-md-3 col-sm-12">
        <a class="mt-4 mr-2" href="/cart">giỏ hàng</a
        ><span class="mt-3"><%=totalCartItems%>></span>
      </div>
    </div>
  </div>
  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler navbar-light"
    type="button"
    data-toggle="collapse"
    data-target="#menu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
