<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="/static/site/images/vn.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="/static/site/images/vib.jfif"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="/static/site/images/ho.gif"></a>
        </div>
        <div class="banner-item">
            <a href="https://www.facebook.com/daoxuanson2001/"><img class="img-fluid" src="/static/site/images/quangcao.jfif" style="width: 500px"></a>
        </div>
        
    </div>
</div>