<!DOCTYPE html>
<html>
<head>
    <%- include("../layout/head", {title: "Trang chủ quản trị"})%>

</head>

<body>
    <%- include("../layout/header", {title: "Trang chủ quản trị"})%>
    <%- include("../layout/sidebar", {title: "Trang chủ quản trị"})%>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách thành viên</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách thành viên</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
            <a href="/admin/users/create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm thành viên
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">ID</th>
						        <th data-field="name"  data-sortable="true">Họ & Tên</th>
                                <th data-field="price" data-sortable="true">Email</th>
                                <th>Quyền</th>
                                <th>Hành động</th>
						    </tr>
                            </thead>
                            <tbody>
                                <%for(x in users){%>
                                <tr>
                                    <td style=""><%=users[x]._id%></td>
                                    <td style=""><%=users[x].full_name%></td>
                                    <td style=""><%=users[x].email%></td>
                                    <td><span class="label label-danger"><%=users[x].role%></span></td>
                                    <td class="form-group">
                                        <a href="/admin/users/edit/<%=users[x]._id%>" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="/admin/users/delete/<%=users[x]._id%>" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <%if(page > 1){%>
                                <li class="page-item"><a class="page-link" href="/admin/users/?page=<%=page-1%>">&laquo;</a></li>
                                <%}%>
                                <%for(x in pages){%>
                                <li class="page-item"><a class="page-link" href="/admin/users/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                                 <%}%>       
                                <%if(page < totalPage){%>
                                 <li class="page-item"><a class="page-link" href="/admin/users?page=<%=page+1%>">&raquo;</a></li>
                                <%}%>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<%- include("../layout/footer", {title: "Trang chủ quản trị"})%>
</body>

</html>
