<div class="product-item card text-center" style="border-radius: 10px;">
    <a href="/product-<%=product.name%>.<%=product.id%>"><img src="/static/images/<%=product.thumbnail%>"></a>
    <h4><a href="/product-<%=product.name%>.<%=product.id%>"><%=product.name%>></a></h4>
    <p>Giá Bán: <span><%= new Intl.NumberFormat().format(product.price)%> VNĐ</span></p>
</div>