<!DOCTYPE html>
<html>
<head>
    <%- include("../layout/head", {title: "Order"})%>

</head>

<body>
    <%- include("../layout/header")%>
    <%- include("../layout/sidebar")%>
		
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách sản phẩm</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách Order</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
            <a href="/admin/products/create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm Order
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">STT</th>
                                <th data-field="name"  data-sortable="true">Người đặt</th>
						        <th data-field="sdt"  data-sortable="false">SĐT</th>
                                <th data-field="email" data-sortable="false">Email</th>
                                <th>Address</th>
                                <th>Ảnh sản phẩm</th>
                                <th data-field="price"  data-sortable="true">Giá</th>
                                <th data-field="name1"  data-sortable="true">Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th data-field="count"  data-sortable="true">Tổng tiền</th>
                                <th data-field="time"  data-sortable="true">Thời gian</th>
                                <th data-field="status"  data-sortable="true">Trạng thái</th>
                                <th>Hành động</th>
                                
						    </tr>
                            </thead>
                            <tbody>
                                <%for(x in products){%>
                                    <tr>
                                        <td style=""><%=x%></td>
                                        <td style=""><%=products[x].full_name%></td>
                                        <td style=""><%=products[x].phone%></td>
                                        <td style=""><%=products[x].email%></td>
                                        <td style=""><%=products[x].address%></td>
                                        <td style="text-align: center"><img width="130" height="180" src="/static/images/<%=products[x].product[0]?.img%>" /></td>
                                        <td><%= new Intl.NumberFormat().format(products[x].product[0]?.price)%> VNĐ</td>
                                        <td style=""><%=products[x].product[0]?.name%></td>
                                        <td style=""><%=products[x].product[0]?.qty%></td>
                                        <td style=""><%= new Intl.NumberFormat().format(products[x].product[0]?.price * products[x].product[0]?.qty)%> VNĐ</td>
                                        <td style=""><%=products[x].time%></td>
                                        <td style=""><%=products[x].status%></td>
                                        <td class="form-group">
                                            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                <%}%>
                                 </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <%if(page > 1){%>
                                <li class="page-item"><a class="page-link" href="/admin/order/?page=<%=page-1%>">&laquo;</a></li>
                                <%}%>
                                <%for(x in pages){%>
                                <li class="page-item"><a class="page-link" href="/admin/order/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                                 <%}%>       
                                <%if(page < totalPage){%>
                                 <li class="page-item"><a class="page-link" href="/admin/order/?page=<%=page+1%>">&raquo;</a></li>
                                <%}%>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<%- include("../layout/footer")%>
</body>

</html>
